{% extends 'base.html.twig' %}

{% block title %}{{ 'new_calendar_title'|trans }}{% endblock %}

{% block body %}
    <div class="container mx-auto pt-4">
        <h1 class="text-2xl mb-4">{{ 'new_calendar_title'|trans }}</h1>

        {{ form_start(form) }}
        <div class="flex flex-col mb-6">
            {{ form_label(form.title, 'title') }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title, {'attr': {'placeholder': 'title'}}) }}
        </div>
        <div class="flex justify-between items-center">
            <a href="{{ path('calendar_index') }}">{{ 'back'|trans }}</a>
            <button class="btn">{{ button_label|default('save')|trans }}</button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
