{% extends 'base.html.twig' %}

{% block title %}Edit Calendar{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendarEventEdit') }}
{% endblock %}

{% block body %}
    <div class="container mx-auto pt-4">
        <h1 class="text-2xl mb-4">{{ 'calendar_event_edit_title'|trans }}</h1>

        <div class="mb-4">
            <div id="calendar"></div>
        </div>

        <a href="{{ path('calendar_index') }}">{{ 'back'|trans }}</a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const calendarId = {{ calendar.id }};
    </script>

    {{ encore_entry_script_tags('calendarEventEdit') }}
{% endblock %}
