{% extends 'base.html.twig' %}

{% block title %}EventType index{% endblock %}

{% block body %}
<div class="container mx-auto pt-4">
    <div class="flex justify-between align-middle mb-4">
        <h1 class="text-2xl">{{ 'event_type_index'|trans }}</h1>
        <a href="{{ path('event_type_new') }}" class="btn">{{ 'new_event_type'|trans }}</a>
    </div>
    <table class="table-fixed min-w-full">
        <thead>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <th>{{ 'title'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for event_type in event_types %}
            <tr>
                <td>{{ event_type.id }}</td>
                <td>{{ event_type.title }}</td>
                <td>
                    <a href="{{ path('event_type_edit', {'id': event_type.id}) }}" class="btn">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'no_records'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
