{% extends 'base.html.twig' %}

{% block title %}{{ 'calendar_slot'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('appointment') }}
{% endblock %}

{% block body %}
    <div class="w-full px-4 calendar-wrapper">
        <div class="p-4 text-gray-900 bg-white rounded-lg shadow-lg text-center flex flex-col lg:flex-row h-full">
            <aside class="w-full lg:pl-4 lg:w-1/3 lg:order-last">
                    <div id="drag-events-wrapper" class="mb-4">
                        <p class="mb-4">{{ 'calendar_drag'|trans }}</p>
                        <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-2">
                            {% for eventType in calendar.eventTypes %}
                                <div class="drag-event rounded bg-light-blue-500 p-2 cursor-move text-white" data-duration="{{ eventType.duration }}">
                                    <span>{{ eventType.title }}</span><br>
                                    <span>{{ 'duration'|trans }} : <time datetime="{{ eventType.duration }}m">{{ eventType.duration }}</time> {{ 'min'|trans }}</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-errors">
                            {{ form_errors(appointmentForm) }}
                        </div>
                    </div>
                <div id="appointment-display-block" class="mb-4 hidden">
                    <h3 class="mb-2">{{ 'your_event'|trans }}</h3>
                    <p id="appointment-display" class="mb-4"></p>
                    {{ form_start(appointmentForm) }}
                    <div class="hidden">
                        {{ form_row(appointmentForm.start) }}
                        {{ form_row(appointmentForm.end) }}
                    </div>

                    <button type="submit">{{ 'submit'|trans }}</button>
                    <button type="reset">{{ 'reset'|trans }}</button>
                    {{ form_end(appointmentForm) }}
                    <hr class="mt-4">
                </div>
                {% if futureEvents | length > 0 %}
                <hr class="my-4">
                <div>
                    <h3 class="mb-2">{{ 'future_events'|trans }}</h3>
                    <ul class="space-y-2">
                        {% for event in futureEvents %}
                            <li data-id="{{ event.id }}" class="border rounded p-2">
                                <time datetime="{{ event.start|date('c') }}">{{ event.start|date }}</time> - <time datetime="{{ event.end|date('c') }}">{{ event.end|date }}</time>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </aside>
            <div id="calendar" class="w-full lg:w-2/3"></div>
        </div>

    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        const calendarId = {{ calendar.id }};
    </script>

    {{ encore_entry_script_tags('appointment') }}
{% endblock %}
