{% extends 'base.html.twig' %}

{% block title %}Hello AppointmentController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('appointment') }}
{% endblock %}

{% block body %}
    <div>
        <div id="calendar"></div>
        <aside>
            <h3>Votre rendez vous : </h3>
            <div>
                <p id="appointment-display"></p>
            </div>
            {{ form_start(appointmentForm) }}
            {{ form_errors(appointmentForm) }}
                <button type="submit">Confirmer</button>
            {{ form_end(appointmentForm) }}
        </aside>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        const calendarId = {{ calendar.id }};
    </script>

    {{ encore_entry_script_tags('appointment') }}
{% endblock %}
