{% extends 'base.html.twig' %}

{% block title %}{{ 'calendar_slot'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('appointment') }}
{% endblock %}

{% block body %}
    <div class="w-full px-4">
        <div class="p-4 text-gray-900 bg-white rounded-lg shadow-lg text-center flex">
            <div id="calendar" class="w-2/3"></div>
            <aside class="w-1/3 pl-4">
                    <div id="drag-events-wrapper" class="mb-4">
                        <p class="mb-4">{{ 'calendar_drag'|trans }}</p>
                        <div class="flex space-x-4">
                            {% for eventType in calendar.eventTypes %}
                                <div class="drag-event w-1/3 rounded bg-blue-500 p-2 cursor-move" data-duration="{{ eventType.duration }}">
                                    <span>{{ eventType.title }}</span><br>
                                    <span>{{ 'duration'|trans }} : {{ eventType.duration }} {{ 'min'|trans }}</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-errors">
                            {{ form_errors(appointmentForm) }}
                        </div>
                    </div>
                <div id="appointment-display-block" class="mb-4">
                    <h3 class="mb-2">{{ 'your_event'|trans }}</h3>
                    <p id="appointment-display" class="mb-4"></p>
                    {{ form_start(appointmentForm) }}
                    <div class="hidden">
                        {{ form_row(appointmentForm.start) }}
                        {{ form_row(appointmentForm.end) }}
                    </div>

                    <button type="submit">{{ 'submit'|trans }}</button>
                    <button type="reset">{{ 'reset'|trans }}</button>
                    {{ form_end(appointmentForm) }}
                    <hr class="mt-4">
                </div>
                {% if futureEvents | length > 0 %}
                <div>
                    <h3>{{ 'future_events'|trans }}</h3>
                    <ul>
                        {% for event in futureEvents %}
                            <li data-id="{{ event.id }}">{{ event.start|date }} - {{ event.end|date }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </aside>
        </div>

    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        const calendarId = {{ calendar.id }};
    </script>

    {{ encore_entry_script_tags('appointment') }}
{% endblock %}
