{% extends 'base.html.twig' %}

{% block title %}{{ 'choose_pro'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('appointment') }}
{% endblock %}

{% block body %}
    <div>
        <form id="selectProForm">
            <label for="selectPros">{{ 'choose_pro'|trans }}</label>
            <select id="selectPros">
                {% for pro in pros %}
                    <option value="{{ pro.id }}">{{ pro.email }}</option>
                {% endfor %}
            </select>
            <button type="submit">{{ 'next'|trans }}</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const selectProForm = document.getElementById('selectProForm');

        if (selectProForm) {
            selectProForm.addEventListener('submit', (e) => {
                e.preventDefault();
                const selectedPro = e.target.querySelector('#selectPros').value;
                window.location.href = `/appointment/pro/${selectedPro}`;
            });
        }
    </script>
{% endblock %}
