{% extends 'base.html.twig' %}

{% block title %}{{ 'choose_pro'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('appointment') }}
{% endblock %}

{% block body %}
    <div class="container w-full px-4 mx-auto md:w-1/2">
        <h2 class="mb-4 text-center text-2xl">{{ 'choose_pro'|trans }}</h2>
        <form id="selectProForm" novalidate>
            <div class="mb-4">
                {% for pro in pros %}
                    <div>
                        <input type="radio" id="pro-{{ pro.id }}" name="pro" value="{{ pro.id }}" class="hidden" required>
                        <label for="pro-{{ pro.id }}" class="flex items-center border rounded p-2 cursor-pointer hover:text-light-blue-500">
                            {{ pro.email }}
                            <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey ml-auto"></span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="flex">
                <button type="submit" class="ml-auto">{{ 'next'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const selectProForm = document.getElementById('selectProForm');

        if (selectProForm) {
            selectProForm.addEventListener('submit', (e) => {
                e.preventDefault();
                const selectedInput = e.target.querySelector('input[name="pro"]:checked');
                if(selectedInput) {
                    const selectedPro = selectedInput.value;
                    window.location.href = `/appointment/pro/${selectedPro}`;
                }

            });
        }
    </script>
{% endblock %}
