{% extends 'base.html.twig' %}

{% block title %}{{ 'choose_calendar'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('appointment') }}
{% endblock %}

{% block body %}
    <div class="w-full px-4">
        <form id="selectCalendarForm">
            <label for="selectCalendars">{{ 'choose_calendar'|trans }}</label>
            <select id="selectCalendars">
                {% for calendar in pro.calendars %}
                    <option value="{{ calendar.id }}">{{ calendar.title }}</option>
                {% endfor %}
            </select>
            <button type="submit">{{ 'next'|trans }}</button>
        </form>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        const selectCalendarForm = document.getElementById('selectCalendarForm');

        if (selectCalendarForm) {
            selectCalendarForm.addEventListener('submit', (e) => {
                e.preventDefault();
                const selectedCalendar = e.target.querySelector('#selectCalendars').value;
                window.location.href = `/appointment/calendar/${selectedCalendar}`;
            });
        }
    </script>
{% endblock %}
