{% extends 'base.html.twig' %}

{% block title %}{{ 'choose_calendar'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container w-full px-4 mx-auto md:w-1/2">
        <h2 class="mb-4 text-center text-2xl">{{ 'choose_calendar'|trans }}</h2>
        <form id="selectCalendarForm" novalidate>
            <div class="mb-4">
                {% for calendar in pro.calendars %}
                    <div>
                        <input type="radio" id="calendar-{{ calendar.id }}" name="calendar" value="{{ calendar.id }}" class="hidden">
                        <label for="calendar-{{ calendar.id }}" class="flex items-center border rounded p-2 cursor-pointer hover:text-light-blue-500">
                            {{ calendar.title }}
                            <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey ml-auto"></span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="flex">
                <button type="submit" class="ml-auto">{{ 'next'|trans }}</button>
            </div>

        </form>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        const selectCalendarForm = document.getElementById('selectCalendarForm');

        if (selectCalendarForm) {
            selectCalendarForm.addEventListener('submit', (e) => {
                e.preventDefault();
                const selectedInput = e.target.querySelector('input[name="calendar"]:checked');
                if(selectedInput) {
                    const selectedCalendar = selectedInput.value;
                    window.location.href = `/appointment/calendar/${selectedCalendar}`;
                }

            });
        }
    </script>
{% endblock %}
